<!DOCTYPE html>
<html lang="en">
    <head>
        <title> sample_boards </title>
        <%= favicon_link_tag asset_path('Todoz.png')%>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    </head>
    <body>
        <header>
        <div class="header">
            <div class="header_left">
                <div>
                    <button class="to_menu">
                        <span class="menu_icon">
                        <%= image_tag 'menu.png' , :class => 'icon'%>
                        </span>
                    </button>
                </div>
                <a aria-label="back to home" href="/"><%= image_tag 'Home.png' , :class => 'icon'%></a>
                <button class="to_boards">
                    <span class="boards_icon">
                        <%= image_tag 'Board.png' , :class => 'icon'%>
                    </span>
                    <span>
                        Boards
                    </span>
                </button>
            </div>
            <div class="header_center">
                <span class="app_icon">Todoz</span>
            </div>
            <div class="header_right">
                <button class="ereate_button">
                    <%= image_tag 'add.svg' , :class => 'icon'%>
                </button>
                <button class="update_info_button">
                    <%= image_tag 'info.png' , :class => 'icon'%>
                </button>
                <button class="notification_button">
                    <%= image_tag 'bell.png' , :class => 'icon'%>
                </button>
                <button class="user_info_button">
                <%= image_tag 'Todoz.png' , :class => 'user_icon icon'%>
                </button>                                                
            </div>
        </div>
        </header>
        <%= yield %>
    </body>
</html>